extends layout
      
block content
  h1=`Hello !`
  p=`Grettings from All-in-one !`
    
block routes  
  ul
    each link in routes
      if link.name
        li 
          a(href=`${link.url}` title=`${link.name}`)=link.name
        
block socials  
  ul
    each link in socials
      if link.name
        li 
          a(href=`${link.url}` title=`${link.name}`)
            img(src=`/images/brands/${link.name}.svg` alt=`${link.name}`)


          

  
